<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    bootstrap="tests/bootstrap.php"
>
    <php>
        <ini name="display_errors" value="1" />
        <ini name="display_startup_errors" value="1" />
    </php>
    <testsuites>
        <testsuite name="tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
